<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Monday.com</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="http://skote-h.laravel.themesbrand.com/assets/images/favicon.ico">
    <!-- Bootstrap Css -->
<link href="http://skote-h.laravel.themesbrand.com/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="http://skote-h.laravel.themesbrand.com/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="http://skote-h.laravel.themesbrand.com/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" /></head>

</head>
<a href="" id="profile-link" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" id="img-profile" src="http://skote-h.laravel.themesbrand.com/assets/images/users/avatar-1.jpg"
                        alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1" key="t-henry">ahmad</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
</a>


<body id="page-top">
  <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
               <center> <h2 class="card-title mb-4 ">Monday.com</h2></center>
               <div class="row">
                <div class="col-xl-4">
                    <div  style="background-color:aqua" class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-3">
                                        <h3 class="text-primary">Title</h3>
                                   <input type="text" style="border:none" name="title" required>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="http://skote-h.laravel.themesbrand.com/assets/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                                    <div class="pt-4">
            
                                        <div class="row">
                                            <div class="col-6">
                                                <h5 class="font-size-15">Owner</h5>
                                                <input type="text" style="border:none;width:100px;" name="owner" required>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="font-size-15">description</h5>
                                                <input type="text" style="border:none" name="description "required>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <a href="" class="btn btn-primary waves-effect waves-light btn-sm">View Tasks<i class="mdi mdi-arrow-right ms-1"></i></a>
                                        </div>
                                        </div>
                        </div>
                    </div>
</div>
    <script>
  const user_id=  localStorage.getItem("user_id");
     document.getElementById("profile-link").href=`http://localhost:3005/user/userAccount/${user_id}`
    //  document.getElementById("signout").addEventListener("submit",(e)=>{
    //    e.preventDefault

    //  })
// function projectCell(title,owner,description){
// //  let template=document.querySelector("template").content.cloneNode(true);
// return ` <div class="row bg_1">
// <div class="col-3">
//     <h4 class="title"></h4>
// </div>
// <div class="col-3">
//     <h4 class="own"></h4>
// </div>
// <div class="col-3">
//     <h4 class="des"></h4>
// </div>
 
//   </div>`
// }

// function taskCell(projectTitle,status,member,taskdescription){
//   return `<div class="row">
//   <div class="col-3">
//   <h4 class="des"></h4>
// </div>
//   <div class="col-3">
//   <h4 class="stat"></h4>
// </div>
// <div class="col-3">
//   <h4 class="mem"></h4>
// </div>
// <div class="col-3">
//   <h4 class="td"></h4>
// </div>
// </div>`
// }

// function bindingData(data,rowId,rowId2) {
//         // document.getElementsByClassName(`${rowId}`).innerhtml=`${title}+${ownerdescription}+${status}+${member}+${taskdescription}`;
//      document.querySelector(`#${rowId1}`).innerHTML+=projectCell(title,owner,description);
//      document.querySelector(`#${rowId2}`).innerHTML+=taskCell(projectTitle,status,member,taskdescription);
// }

// bindingData("project1","task1");




// const projectform = document.getElementById("project-form");
// 	projectform.addEventListener("submit", (e) =>{
	
// 		//prevents form from being submitted
// 		e.preventDefault();
// 		console.log("Prevented");
		

// 		const url = projectform.action;
// 		var formData = new FormData(projectform);
		
// 		//We want to send the request body as JSON, so we're converting it to a plain object and then send as a JSON string.
// 		const plainFormData = Object.fromEntries(formData.entries());
// 		console.log(plainFormData);
// 		//fetch data		
// 		fetch('http://localhost:3005/project', {
// 		method: "POST",
// 		body: JSON.stringify(plainFormData),
// 		headers: {
// 		   "Content-Type": "application/json"
//           }}).
// 		then(res => {
// 		console.log(`Status Code:  ${res.status}`);
// 		})
// 		.catch(err => console.log(err));
//   });

//   const taskform = document.getElementById("project-form");
// 	taskform.addEventListener("submit", (e) =>{
	
// 		//prevents form from being submitted
// 		e.preventDefault();
// 		console.log("Prevented");
		

// 		// const url = taskform.action;
// 		var formData = new FormData(taskform);
		
// 		//We want to send the request body as JSON, so we're converting it to a plain object and then send as a JSON string.
// 		const plainFormData = Object.fromEntries(formData.entries());
// 		//fetch data		
// 		fetch('http://localhost:3005/task', {
// 		method: "POST",
// 		body: JSON.stringify(plainFormData),
// 		headers: {
// 		   "Content-Type": "application/json"
//           }}).
// 		then(res => {
// 		console.log(`Status Code:  ${res.status}`);

// 		})
// 		.catch(err => console.log(err));
//   });

    </script>

</body>
   

</html>

