<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Monday.com</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <link href="/CSS/all.min.css" rel="stylesheet" type="text/css">
    <link href="/CSS/sb-admin-2.min.css" rel="stylesheet" type="text/css">
</head>


<body id="page-top">


  <form id="profile-form" action="http://localhost:3005/user/file" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-3">
        <input type="file" id="userpic" accept="image/*" name="userpic">
      </div>
      <div class="col-3">
        <input type="submit">
      </div>
    </div>
   
  </form>
  <hr>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
               <h1 class="head1 pl-3 text-dark text-center">
                   Active Projects
               </h1>
               <h3 class="head3 mt-3 text-primary">
                   Projects
               </h3>

                <div class="row bg_1 project">
                <div class="col-3">
                    <h4>Title</h4>
               </div>
                <div class="col-3">
                    <h4>Owner</h4>
              </div>
                <div class="col-3">
                    <h4>Description</h4>
                  </div>
                 
              </div> 
              <div id="project1">

              </div>

               <form id="project-form" action="http://localhost:3005/user/projects" method="post">
                <div class="row bg_1">
                  <div class="col-3">
                      <input class="effect-1" type="text" name="title" required>
                        <span class="focus-border"></span>
                    </div>
                  <div class="col-3">
                      <input class="effect-2" type="text" name="owner" required>
                        <span class="focus-border"></span>
                    </div>
                  <div class="col-3">
                      <input class="effect-3" type="text" placeholder="project description" name="description" required>
                        <span class="focus-border"></span>
                    </div>        
                  
                     
                      <div class="col-3">
                        <input class="effect-4" type="submit" name="">
                          <span class="focus-border"></span>
                      </div>  
                </div> 
                <h3 class="head3 mt-3 text-primary">
                    Tasks
                </h3>
            </form>
            <div class="row">
                <div class="col-3">
                    <h4>project title</h4>
               </div>
            <div class="col-3">
                <h4>Status</h4>
           </div>
            <div class="col-3">
                <h4>Member</h4>
          </div>
            <div class="col-3">
                <h4>Description</h4>
              </div>
            </div>

            <div id="task1">

                </div>

            <form class="task-form" action="http://localhost:3005/user/tasks" method="post">

                <div class="row">
                    <div class="col-3">
                        <input class="effect-1" type="text" name="projectTitle" required>
                          <span class="focus-border"></span>
                      </div>
                    <div class="col-3">
                        <input class="effect-1" type="text" name="status" required>
                          <span class="focus-border"></span>
                      </div>
                    <div class="col-3">
                        <input class="effect-2" type="text" name="member" required>
                          <span class="focus-border"></span>
                      </div>
                    <div class="col-3">
                        <input class="effect-3" type="text" placeholder="task description" name="taskdescription" required>
                          <span class="focus-border"></span>
                      </div>
                      <div class="col-3">
                        <input class="effect-4" type="submit" name="">
                          <span class="focus-border"></span>
                      </div> 
                </div>
            </form>


    <!-- Bootstrap core JavaScript-->
    <!-- <script src="JS/monday.js"></script> -->

    <script>
     
async function getEndPointData(URL, bindingData,rowId,rowId2){
   await fetch(URL)
    .then((response) => {
  const  data= response.json();
  console.log(data);
  // bindingData(data,rowId,rowId2);
    }).catch((err)=>{
        console.log(err);
    })
    }
// function projectCell(title,owner,description){
// //  let template=document.querySelector("template").content.cloneNode(true);
// return ` <div class="row bg_1">
// <div class="col-3">
//     <h4 class="title">${title}</h4>
// </div>
// <div class="col-3">
//     <h4 class="own">${owner}</h4>
// </div>
// <div class="col-3">
//     <h4 class="des">${description}</h4>
// </div>
 
//   </div>`
// }

// function taskCell(projectTitle,status,member,taskdescription){
//   return `<div class="row">
//   <div class="col-3">
//   <h4 class="des">${projectTitle}</h4>
// </div>
//   <div class="col-3">
//   <h4 class="stat">${status}</h4>
// </div>
// <div class="col-3">
//   <h4 class="mem">${member}</h4>
// </div>
// <div class="col-3">
//   <h4 class="td">${taskdescription}</h4>
// </div>
// </div>`
// }

// function bindingData(data,rowId,rowId2) {
//         var title=data[0].task.project.title;
//         var owner =data[0].task.project.owner;
//         var description=data[0].task.project.description;
//         var projectTitle=data[0].task.project.title;
//         var status=data[0].task.status;
// 		var member=data[0].task.member;
// 		var taskdescription=data[0].task.taskdescription;
// 		console.log(taskdescription)
//         // document.getElementsByClassName(`${rowId}`).innerhtml=`${title}+${ownerdescription}+${status}+${member}+${taskdescription}`;
//      document.querySelector(`#${rowId}`).innerHTML+=projectCell(title,owner,description);
//      document.querySelector(`#${rowId2}`).innerHTML+=taskCell(projectTitle,status,member,taskdescription);
// }

getEndPointData("http://localhost:3005/user/userdata",2,"project1","task1");




const projectform = document.getElementById("project-form");
	projectform.addEventListener("submit", (e) =>{
	
		//prevents form from being submitted
		e.preventDefault();
		console.log("Prevented");
		

		const url = projectform.action;
		var formData = new FormData(projectform);
		
		//We want to send the request body as JSON, so we're converting it to a plain object and then send as a JSON string.
		const plainFormData = Object.fromEntries(formData.entries());
		console.log(plainFormData);
		//fetch data		
		fetch('http://localhost:3005/project', {
		method: "POST",
		body: JSON.stringify(plainFormData),
		headers: {
		   "Content-Type": "application/json"
          }}).
		then(res => {
		console.log(`Status Code:  ${res.status}`);
		})
		.catch(err => console.log(err));
  });

  const taskform = document.getElementById("project-form");
	taskform.addEventListener("submit", (e) =>{
	
		//prevents form from being submitted
		e.preventDefault();
		console.log("Prevented");
		

		// const url = taskform.action;
		var formData = new FormData(taskform);
		
		//We want to send the request body as JSON, so we're converting it to a plain object and then send as a JSON string.
		const plainFormData = Object.fromEntries(formData.entries());
		//fetch data		
		fetch('http://localhost:3005/task', {
		method: "POST",
		body: JSON.stringify(plainFormData),
		headers: {
		   "Content-Type": "application/json"
          }}).
		then(res => {
		console.log(`Status Code:  ${res.status}`);
		})
		.catch(err => console.log(err));
  });

    </script>

</body>
   

</html>

