<!doctype html>
<html lang="en">

<head>
    <title>Monday.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/images/monday.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <!-- nav bar -->
    <div class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/html/index.html"><img src="/images/logo.png" alt=""
                        style="height:42px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 p-3">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-2" href="#">Solutions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-2" href="#">Templates</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav  ">
                        <li class="nav-item mt-3 ">
                            <a class="nav-link ml-2" href="#">Contact Sales </a>
                        </li>
                        <li class="nav-item mt-3">
                            <a class="nav-link ml-2" href="/html/login.html">Log In</a>
                        </li>
                        <li class="nav-link">
                            <button class="btn btn-lg ml-3 mt-1">Get Started </button>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>

    <!-- nav bar end -->

    <!-- login from -->

    <div class="container pt-4">
    <h1 class="text4 text-center">Login</h1>
        <form id="signin-form" action="http://localhost:3005/auth/login" method="post">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group mt-3">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                <a href="/html/signup.html" class="mt-3 text-right">SignUp</a>
            </div>
            <button type="submit" class="btn btn-primary mt-2 text-white button">log in</button>
        </form>
    </div>









        <script>
    const signin=document.getElementById("signin-form");
signin.addEventListener("submit",(e)=>{
    e.preventDefault();
    var signinData=new FormData(signin);
    const url=signin.action;
    const plainFormData= Object.fromEntries(signinData.entries());
    signinPost(plainFormData);
   
});
async function signinPost(plainFormData){
const request=await fetch("http://localhost:3005/auth/login",{
    method:"POST",
    headers:{
        "content-type":"application/json"
    },
    body:JSON.stringify(plainFormData)
}).then(async(res)=>{
    console.log("status code :"+res.status);
    const data=await res.json();
    console.log(data);
    console.log("data id :"+data.id);
    if(res.status==200){
        location.assign(`http://localhost:3005/user/home/${data.id}`);
        localStorage.setItem("user_id",data.id);
        cookies.set(res.cookie);

    }else{
       console.log("status code :"+res.status);
       }
}).catch((err)=>{
    console.log(err);
})
}
        </script>
</body>

</html>