
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <form action="http://localhost:3005/user/accountupdate" method ="post" id="user-update-form">
    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">Account settings</h4>
        <div class="d-flex align-items-start py-3 border-bottom"> <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="">
            <div class="pl-sm-4 pl-2" id="img-section"> <b>Profile Photo</b>
                <p>Accepted file type .png. Less than 1MB</p> <input type="file" id="userpics" class="btn btn-primary mr-3" name="userpics" required>
            </div>
        </div>
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">First Name</label> <input type="text" class="bg-light form-control" name="firstname" placeholder="Steve" required> </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Last Name</label> <input type="text" class="bg-light form-control" name="lastname" placeholder="Smith" required> </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Phone Number</label> <input type="tel" class="bg-light form-control" name="phone" placeholder="+1 213-548-6015"> </div>
            </div>
           
            <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3" type="submit">Save Changes</button> <button class="btn border button">Cancel</button> </div>
            
        </div>
    </div>
</form>
<script>
    const profile=document.getElementById("user-update-form");
const userpic=document.getElementById("userpics");

profile.addEventListener("submit",(e)=>{
    e.preventDefault();
    var profileData=new FormData();
    profileData.append("userpics",userpic.files[0]);
   profilePost(profileData);
});
async function profilePost(profileData){
const request=await fetch("http://localhost:3005/user/accountupdate",{
    method:"patch",
    body:profileData
}).then((res)=>{
    console.log("status code :"+res.status);
}).catch((err)=>{
    console.log(err);
})
}
    </script>
</body>
</html>
