<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style2.css">
</head>
<body>
  <nav>
    <h1><a href="/">My Blog</a></h1>
    <ul>
      <% if (user) { %>
        <li>Hi, <a href="/user/useraccount"></a><%= user.email %></li>
        <li><a href="/auth/signout">Sign out</a></li>
      <% } else { %>
        <li><a href="/auth/signin">Sign in</a></li>
        <li><a href="/auth/signup" class="btn">Sign up</a></li>
      <% } %>
       
        </ul>
  </nav>


























    <!-- <a id="tag" href=""><img src="https://tse2.mm.bing.net/th?id=OIP.fBYQQAMqYDFxOh5dWobzLgHaFj&pid=Api&P=0&w=229&h=171"></a>


  <form id="profile-form" action="http://localhost:3005/user/file" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-3">
        <input type="file" id="userpic" accept="image/*" name="userpic">
      </div>
      <div class="col-3">
        <input type="submit">
      </div>
    </div>
   
  </form>
  <hr>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <h1 class="head1 pl-3 text-dark text-center">
                  Active Projects
              </h1>
              <h3 class="head3 mt-3 text-primary">
                  Projects
              </h3>

               <div class="row bg_1 project">
               <div class="col-3">
                   <h4>Title</h4>
              </div>
               <div class="col-3">
                   <h4>Owner</h4>
             </div>
               <div class="col-3">
                   <h4>Description</h4>
                 </div>
                
             </div> 
             <div id="project1">

             </div>

              <form id="project-form" action="http://localhost:3005/user/projects" method="post">
               <div class="row bg_1">
                 <div class="col-3">
                     <input class="effect-1" type="text" name="title" required>
                       <span class="focus-border"></span>
                   </div>
                 <div class="col-3">
                     <input class="effect-2" type="text" name="owner" required>
                       <span class="focus-border"></span>
                   </div>
                 <div class="col-3">
                     <input class="effect-3" type="text" placeholder="project description" name="description" required>
                       <span class="focus-border"></span>
                   </div>        
                 
                    
                     <div class="col-3">
                       <input class="effect-4" type="submit" name="">
                         <span class="focus-border"></span>
                     </div>  
               </div> 
               <h3 class="head3 mt-3 text-primary">
                   Tasks
               </h3>
           </form>
           <div class="row">
               <div class="col-3">
                   <h4>project title</h4>
              </div>
           <div class="col-3">
               <h4>Status</h4>
          </div>
           <div class="col-3">
               <h4>Member</h4>
         </div>
           <div class="col-3">
               <h4>Description</h4>
             </div>
           </div>

           <div id="task1">

               </div>

           <form class="task-form" action="http://localhost:3005/user/tasks" method="post">

               <div class="row">
                   <div class="col-3">
                       <input class="effect-1" type="text" name="projectTitle" required>
                         <span class="focus-border"></span>
                     </div>
                   <div class="col-3">
                       <input class="effect-1" type="text" name="status" required>
                         <span class="focus-border"></span>
                     </div>
                   <div class="col-3">
                       <input class="effect-2" type="text" name="member" required>
                         <span class="focus-border"></span>
                     </div>
                   <div class="col-3">
                       <input class="effect-3" type="text" placeholder="task description" name="taskdescription" required>
                         <span class="focus-border"></span>
                     </div>
                     <div class="col-3">
                       <input class="effect-4" type="submit" name="">
                         <span class="focus-border"></span>
                     </div> 
               </div>
           </form>

 <button><a href="/auth/signout">Sign Out</a></button>
   <!-- Bootstrap core JavaScript-->
   <script src="JS/monday.js"></script> -->
